@import './design-system/tokens/tokens.css';

.app {
	min-height: 100vh;
	display: flex;
	align-items: safe center;
	justify-content: safe center;
	padding: var(--page-padding-mobile);
}

@media (min-width: 1024px) {
	.app {
		padding: var(--page-padding-desktop);
	}
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--color-text-primary);
  background-color: var(--color-bg-canvas);
}
